@import 'variables.scss';

.category_container{
    margin: 0 auto;
    // display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);


    .category_1, .category_2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-family: $font-text;
        font-weight: bold;
    }

    &_button{
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        background: $color-category-btns;
        width: 1300px;
        height: 200px;
        border: 1px solid white;
        border-radius: 40px;
        margin: 40px;
        text-align: center;
        transition: 0.3s;
        cursor: pointer;
        

        &:hover{
            font-size: 55px;
            transition: 0.3s;
            
        }
    }
}