@import 'variables.scss';


.game_container_main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 60%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    font-family: $font-text;

    &_question{
        @include flexCenter;
        text-align: center;
        padding: 0 30px;
        width: 90%;
        height: 30%;
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        background: $color-category-btns;
        font-size: 40px;
        font-weight: bold;
    }

    &_answers{
        width: 90%;
        height: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .answer{
            @include flexCenter;
            width: 45%;
            height: 30%;
            background: $color-category-btns;
            border-radius: 20px;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
            cursor: pointer;
            font-size: 25px;
            transition: 0.2s;
            border: none;
            text-align: center;
            padding: 0 20px;

            &:hover{
                font-size: 28px;
                padding: 0;
                box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
            }
        }
        .selected{
            font-size: 28px;
            background: $color-answear-selected;
            transition: 0.2s;
            box-shadow: 0 0 35px rgba(64,180,13,1);
            padding: 0;

            &:hover{
                box-shadow: 0 0 35px rgba(64,180,13,1);
            }
        }
        .disabled{
            color: rgba(0, 0, 0, 0.555);
            transition: 0.7s;
            box-shadow:  0 0 55px red;
            background: rgba(199, 1, 1, 0.568);

            &:hover{
                font-size: 30px;
                box-shadow:  0 0 55px red;
            }
        }


    }
}