@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
.good_end {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 80%;
  backdrop-filter: blur(5px);
  border: 1px solid #40b40d;
  box-shadow: 0 0 55px #40b40d;
  border-radius: 20px;
  color: #40b40d;
}

.good_end_title {
  font-size: 70px;
  margin-bottom: 30px;
}

.good_end_description {
  font-size: 40px;
  margin-top: 50px;
}

.good_end a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.good_end_button {
  box-shadow: 0 0 25px #40b40d;
  background: linear-gradient(180deg, silver 0%, gray 50%, silver 100%);
  width: 70%;
  height: 100px;
  border: 1px solid #40b40d;
  border-radius: 20px;
  margin-top: 70px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 30px;
}

.good_end_button:hover {
  font-size: 35px;
  box-shadow: 0 0 35px #40b40d;
}
