@import 'reset.scss';
@import 'variables.scss';
@import 'new_game.scss';
@import 'category_chosen.scss';
@import 'game.scss';



body{
    width: 100vw;
    height: 100vh;

    .background{
        background-image: url('../assets/bg.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;

        .app{
            width: 100%;
            height: 100%;
        }
    }

}

