@import 'reset.scss';
@import 'variables.scss';
@import 'new_game.scss';
@import 'bad_end.scss';
@import 'game.scss';
@import 'rank.scss';


body{
    width: 100vw;
    height: 100vh;

    .background{
        background-image: url('../assets/bg.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;

        .app{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

