@import 'variables.scss';
.new_game{
    @include flexCenter;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    font-family: $font-text;

    &_title{
        font-size: 40px;
        color: white;
        font-weight: bold;
    }

    &_input{
        width: 400px;
        height: 50px;
        background: $color-category-btns;
        font-size: 30px;
        margin: 100px 0;
        color: black;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        border: 1px solid white;
        transition: 0.3s;

        &::placeholder{
            color: rgba(0, 0, 0, 0.705);
        }
        &:focus{
            outline: none;
            box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
        }

    }

    &_button{
        background: $color-category-btns;
        width: 800px;
        height: 150px;
        border: 1px solid white;
        border-radius: 40px;
        transition: 0.3s;
        cursor: pointer;
        font-size: 40px;
        font-family: $font-text;
        font-weight: bold;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);

        &:hover{
            font-size: 50px;
            transition: 0.3s;
            box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
        }
        
        &:disabled{
            font-size: 35px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }
    }
    &_rank{
        background: $color-category-btns;
        border: 1px solid white;
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
        width: 200px;
        height: 80px;
        border-radius: 20px;
        margin-top: 100px;
        font-size: 30px;
        transition: 0.3s;
        cursor: pointer;
        
        &:hover{
            font-size: 35px;
            box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
        }

    }
}