// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');


// colors
$color-text-silver: #C0C0C0;
$color-text-black: black;
$color-category-btns: linear-gradient(180deg, rgba(192,192,192,1) 0%, rgba(128,128,128,1) 50%, rgba(192,192,192,1) 100%);
$color-money-container: linear-gradient(0deg, rgba(2,35,180,1) 0%, rgba(10,19,82,1) 50%, rgba(2,35,180,1) 100%);
$color-container-border: linear-gradient(180deg, rgba(192,192,192,1) 0%, rgba(182,53,53,1) 100%);
$color-answear-selected: linear-gradient(180deg, rgba(192,192,192,1) 0%, rgba(64,180,13,1) 50%, rgba(192,192,192,1) 100%);
// $color-answear-selected: linear-gradient(180deg, rgba(64,180,13,1) 0%, rgba(128,128,128,1) 50%, rgba(64,180,13,1) 100%);
$color-answear-good: linear-gradient(0deg, rgba(64,180,13,1) 0%, rgba(59,105,5,1) 50%, rgba(64,180,13,1) 100%);
$color-answear-bad: linear-gradient(180deg, rgba(128,128,128,1) 0%, rgba(192,192,192,1) 50%, rgba(128,128,128,1) 100%);


// fonts variables
$font-text: 'Open Sans', sans-serif;



// mixins


// flex
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}


// help buttons
@mixin helpButton{
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: white;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;

    span{
        @include flexCenter;
        font-size: 35px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: 0.3s;
        &:hover{
            font-size: 45px;
        }
    }
    .tooltip{
        position: absolute;
        visibility: hidden;
        background: $color-category-btns;
        backdrop-filter: blur(25px);
        color: black;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        border: 1px solid white;
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
        width: 130px;
        height: 50px;
        font-size: 15px;
        top: -60px;
        transition: 0.2s;
        left: -20px;
    }

    &:hover{
        font-size: 25px;
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);

        .tooltip{
            visibility: visible;

            &:hover{
                font-size: 15px;
            }
        }
        

    }
}
